@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", monospace;
}






.body3{
  color: #f0f0f0;
  font-family: var(--font-roboto);
  background-color: black;
  height: 100vh;
}
.app {
  padding-top: ;
  justify-content: space-between;
  display: flex;
  background-color: #212426;
  /*justify-content: ce;*/
  align-items: center; 
}



.app3{
   overflow-x: auto;
   padding: 0rem;
   height: 100%;
   display: flex;
}
.movie-head {
  font-size: 2rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(253, 253, 252) 0%,
    rgba(122, 79, 44, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
}


.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h1 {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add{
  height: 35vh;
}
/*
. div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}
*/

.desc-carou div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.carou-w div:nth-of-type(2) img {

}





.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}


/*movie carousel*/
a{
  text-decoration: none;
}

.carous{
  display: flex;
}




.info:hover{
  
}


.head-caros{
  width: 100%;
  color: white;
}




/*Movie Description*/

.arrow{
  position: absolute;
  z-index: 100;
  width: 97vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0%;
}
.up{
  position: relative;
}
.right{
  margin-left: auto;
}
.left{
  left: 0%;
}
.db{
  height: 0;
  display: flex;
  width: 100%;
  padding: 0 20px;
}
.ar{
  position: relative;
  font-size: 10px;
  z-index: 10000;
  top: 120px;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  color: black;
  transform: translate(0%, -50%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.arr{
  position: relative;
  display: flex;
}
html{
 
}
.body2{
  
}


.watchlist button{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  
  background-color: rgba(0, 0, 0, 0.6);
  
}
.home{
  color: white;
  font-weight: bold;
  background-color: black;
}
.watchlist{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.text{
  color: white;
  background-color: black;
  padding: 0;
  

}

.tagline{
  font-size: 15px;
  font-weight: lighter;
}
.overview{
  font-size: 17px;
  font-weight: lighter;
  display: grid;
  width: 100%;
   /* Set a maximum width for the container */
  /*display: -webkit-box;
  -webkit-line-clamp: 3;  Limit the content to 2 lines 
  -webkit-box-orient: vertical;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.desc-name{
  font-size: 40px;
}
.rating{
  background-color: transparent;
  font-weight: ;
  border: 2px solid white;
  padding: 1px 4px;
  border-radius: 2px;
}

.mins{
  font-size: 15px;
}
.foot-sec{
  color: white;
  justify-content: space-around;
}
ul li a{
  line-height: 3;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
ul li a:hover{
  color: white;
}
.showw2 input{
  padding-top: 10px;
  background-color: transparent;
  border: 1px solid white;
  width: 35%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}
.showw2 a{
  font-size: 25px;
  padding: 10px 20px;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  
  background-color: red;
}
.showw2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-top: 40px;
  margin: 0 auto;
}


/* NAVBAR  */

.desc-carou{
  display: none;
}
.label{
  padding-top: 80px;
  padding-left: 20px;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  margin-right: 10px; /* Add some margin between slides */
}

.menu-bar{
  display: none;
  
}
.ratings{
  display: flex;
}

@media screen and (min-width:769px) {
  .types{
    display: flex;
    
  }
  .types h5{
    font-size: 20px;
  }
  .search{
    display: flex;
  }
}
@media screen and (max-width:1023px) {
 
  .nav-head{
    padding-left: 35px;
    font-size: 30px;
  }
  .home-page{
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 100vh;
    padding: 0;
  }
  .pfpf{
   text-align: center;
    padding-top: 200px;
    width: 100%;
    margin-top: 100px;
  }
  .pfpf button{
    margin: 0 auto;
    font-size: 25px;
    width: 350px;
  }
  .home-page p{
    min-width: 0;
    text-align: center;
    width: 95%;
    font-size: 25px;
  }
  .home-banner h1{
    
    text-align: center;
  }
  .pfpf h1{
    width: 100%;
  
    font-size: 90px;
    text-align: center;
  }
  .home-page img{
    width: 350px;
  }
  .desc-img{
    display: block; 
  }
  .desc-img img{
    height: 30vh;
  }
  .desc-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    height: 100%;
    z-index: 1; /* for it to appear above every other elements*/
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 120px 100px 250px #000000;
  }
  .desc-carou{
    width: 320px;
    display: block;
    overflow: hidden;
    border-radius: 12px;
    border: none;
    
    padding-left: 45px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  .descc button{
    width: 20%;
  }
  .descc h1{
    font-size: 70px;
  }
  .descc span{
    font-size: 20px;
  }
  .desc-carou  img {
    width: 100%;
  }
  .descc{
    width: 100%;
  }
  .overview{
    width: 95%;
  }
  
}

@media screen and (max-width:768px) {
  .home-page{
    flex-direction: column;
    
    justify-content: center;
  }
  .types{
    display: none;
  }
  .label{
    font-size: 20px;
  }
  .nav-head{
    padding-left: 25px;
    font-size: 35px;
  }
  
  .search{
    display: none;
  }
  .menu{
    display: block;
    padding-right: 30px;
  }
  .pfpf{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .pfpf h1{
    font-size: 60px;
  }
  .pfp{
    display: none;
  }
  .pfpf p{
    text-align: center;
   width: 100%;

   min-width: 0; 
  }
  .desc-carou{
    width: 280px;
  }
  .descc span{
    font-size: 17px;
  }
  .menu-bar{
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    height: 100vh;
    padding-top: ;
    background-color: black;
    width: 100%;
    z-index: 10000;
    padding-top: 70px;
    
    height: 100vh;
  }

  .search-div {
    width: 100%;
    display: flex;
    
    height: 35px;
    padding: 0px;
    
  
  }
  .search2{
    border-radius: 5px;
    margin-left: calc(100% - 60% - 20px);
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    width: 60%;
    display: flex;justify-content: center;
    background-color: white;
    height: 35px;
  }
  
  .search2 input {
    flex: 1;
    border: none;
    font-size: 1rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    width: 100%;
    outline: none;
    color: #a1a1a1;
    
  }
  .types2 h6{
    font-size: 30px;
    float: right;
    display: flex;
    justify-content: end;
  }
  .types2{
    position: relative;
    align-items: center;
    height: 40vh;
    
    display: grid;
    row-gap: 0px;
    width: 100%;
  }
  
}

@media screen and (max-width:601px) {
  .desc-carou{
    width: 200px;
  }
}
@media screen and (max-width:600px){
  .click{
    font-size: 12px;
  }
  .carou-add{
    width: 90px;
    height:110px;
    margin: 0.3rem;
    position: relative;
    border-radius: 12px;
    background-color: rgba(253, 253, 253, 0.1);
    border: none;
    display: flex;
    justify-content: center;  
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  .head-app2, .gen{
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .app2{
    display: flex;
  position: relative;
  flex-wrap: nowrap;
  }
  .info{
    width: 90px;
    display: none;
  }
  .ratings{
    display: none;
  }
  .nav-head{
    font-size: 25px;
    padding-left: 20px;
  }
  .head-desc{
    display: flex;
    justify-content: none;
    align-items: none;
  }
  .desc-img{
    position: absolute;
    height: 100%;
  }
  .desc-img img{
  height: 30vh;
  }
  .desc-info{
    position: relative;
    flex-direction: column;
    margin-top: 150px;
  }
  .home-page{
    height: 100%;
  }
  .dark{
    height: 30vh;
    background: linear-gradient(180deg, black, transparent, transparent, transparent);
  }
  .pfpf{
    
  }
  .pfpf p{
    font-size: 15px;
  }
  .home-page button{
    width: 150px;
    width: 95%;
    margin-top: 20px;
    font-size: 20px;
  }
  .pfpf h1{
    
    font-size: 35px;
  }
  .home-page{
    padding: 0 10px;
  }
  .gen h5{
    font-size: 15px;
    color: white;
    z-index: 10000;
  }
  .desc-carou{
    width: 180px;
    display: block;
    border-radius: 12px;
    border: none;
    
    padding-left: 4px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  .descc h1, p, span{
    padding-left: 4px;
  }
  .descc h1{
    font-size: 35px;
    width: 100%;
  }
  .descc p{
    width: 100%;
    
  }
  .descc span{
    font-size: 13px;
  }
  .overview{
    width: 100%;
    font-size: 8px;
  }
  .desc-info {
    
    width: 100%; 
}
.descc{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
}
.descc button{
  width: 40%;
  margin-left: 5px;
  font-size: 10px;
  margin-top: 15px;
}
}

@media screen and (max-width:380px){
  .descc span{
    font-size: 10px;
  }
  .label{
    font-size: 15px;
  }
  .desc-carou{
    width: 130px;
    
  }
  .search2 input{
    font-size: 12px;
  }
  .descc h1{
    font-size: 32px
  }
  .types2 h6{
    font-size: 20px;
  }
}
@media screen and (max-height:600px){
  .home-banner img{
    display: none;
  }
 
  .pfpf{
    padding-top: 50px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;  
    flex-direction: column;
    justify-content: center;
}
.pfpf h1{
  font-size: 40px;
}
.pfpf p {
  padding: 0;
}
.pfpf button{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.home-banner{

  height: 90vh;
 
}
}
@media screen and (max-width:280px){
  .pfp{
    display: none;
  }
}